@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*:focus {
  outline: 1.5px solid theme("colors.orange.300");
  outline-offset: 1.5px;
}
*::selection {
  background-color: theme("colors.orange.100");
  color: theme("colors.orange.500");
}

.actions {
  @apply flex items-center justify-end gap-2 md:flex-row;
}
.btn {
  @apply flex w-full items-center justify-center gap-2 rounded-lg border bg-white px-4 py-2 text-center text-sm tracking-wide text-slate-700 hover:bg-slate-50 sm:w-auto;
}

.btn.btn-icon {
  @apply inline-flex h-10 w-10 max-w-[40px] items-center border-none bg-transparent;
}
.btn.btn-icon:hover {
  @apply bg-orange-100 text-orange-500 transition-all;
}
.btn.btn-icon:hover svg {
  @apply text-orange-500 transition-all;
}
.btn.btn-icon svg {
  @apply h-5 w-5 min-w-[20px] text-slate-400;
}

.btn.btn-primary {
  @apply border border-transparent bg-black text-white transition-all;
}
.btn.btn-primary:hover {
  border: 1px solid theme("colors.orange.600");
  box-shadow: inset 0 1.3px 1px 0px theme("colors.orange.300");

  background: theme("colors.orange.500")
    linear-gradient(
      180deg,
      theme("colors.orange.400") 0%,
      theme("colors.orange.600") 100%
    );
  text-shadow: 0 0px 1px theme("colors.orange.600");
}
.btn.btn-primary:active {
  transform: translateY(1px);
  box-shadow: none;
}
.btn svg {
  @apply h-5 w-5 text-slate-400;
}
.btn.btn-primary svg {
  @apply text-slate-100;
}
.btn.btn-text {
  @apply border-none text-slate-500 hover:text-slate-600;
}
.btn.btn-icon {
  @apply w-auto rounded-full px-3;
}
.btn.btn-red {
  @apply border border-red-600 bg-red-500 text-white hover:bg-red-500/90;

  box-shadow: inset 0 1.5px 0px 0px rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.btn.btn-primary-text {
  @apply border-none bg-transparent text-orange-500 hover:bg-white;
}
input {
  width: 100%;
  border-radius: theme("borderRadius.md") !important;
  border-color: theme("colors.slate.200") !important;
}
input:focus {
  border-color: theme("colors.orange.500") !important;
  box-shadow: 0 0 0 3px rgba(231, 163, 86, 0.5) !important;
  transition: all 0.2s ease-in-out !important;
}
input:hover:not(:focus) {
  border-color: theme("colors.orange.300") !important;
  transition: all 0.2s ease-in-out !important;
}
label {
  color: theme("colors.slate.600") !important;
  font-size: theme("fontSize.sm") !important;
}
input[type="checkbox"]:checked {
  border-color: theme("colors.orange.500") !important;
  background-color: theme("colors.orange.500") !important;
}

@layer utilities {
  .highlight {
    box-shadow: inner 0 0 -2px red;
  }
}

.ProseMirror {
  padding: 0 0.5rem;
  margin: 0;
  width: 100%;
  min-width: 100%;
}
.ProseMirror:focus {
  outline: none;
}

.ProseMirror p > code {
  background-color: theme("colors.orange.50");
  border-radius: 4px;
  padding: 0.2em 0.4em;
  color: theme("colors.orange.500");
  letter-spacing: 0.4px;
}
.ProseMirror p > code::after,
.ProseMirror p > code::before {
  content: "";
}

.section {
  @apply rounded-xl border-[0.3px] bg-gradient-to-b from-white to-slate-50 shadow-sm;
}

.section-title {
  @apply text-xl font-semibold text-slate-700;
}

.flex-center {
  @apply flex items-center justify-center;
}
.flex-x-center {
  @apply flex items-center;
}
.flex-y-center {
  @apply flex justify-center;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

textarea:active {
  border: none;
  outline: none;
}
