@tailwind base;
@tailwind components;
@tailwind utilities;

.actions {
  @apply flex items-center justify-end gap-2 md:flex-row;
}

.ProseMirror {
  padding: 0 0.5rem;
  margin: 0;
  width: 100%;
  min-width: 100%;
}
.ProseMirror:focus {
  outline: none;
}

.ProseMirror p > code {
  background-color: theme("colors.orange.50");
  border-radius: 4px;
  padding: 0.2em 0.4em;
  color: theme("colors.orange.500");
  letter-spacing: 0.4px;
}
.ProseMirror p > code::after,
.ProseMirror p > code::before {
  content: "";
}

.section {
  @apply rounded-xl border-[0.3px] bg-white shadow-sm;
}

.section-title {
  @apply text-xl font-semibold text-slate-700;
}

.flex-center {
  @apply flex items-center justify-center;
}
.flex-x-center {
  @apply flex items-center;
}
.flex-y-center {
  @apply flex justify-center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

textarea:active {
  border: none;
  outline: none;
}
